body{
    display: grid;
    height: 100vh;
    text-align: center;
    grid-template-areas: 
    "topbar topbar topbar"
    "ads content nav"
    "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 25px auto 70px;
}
header{
    grid-area: topbar;

}
ads{
    grid-area: ads;
    
}
article{
    grid-area: content;
    
}
nav{
    grid-area: nav;
    
}
footer{
    grid-area: footer;
    
}
header div{
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    font-size: small;
}