body{
    margin:0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: darkgrey
}
.nav-logo a img{
    width: 50px;

}
.nav-links{
    display: flex;
    gap: 25px;
}
.nav-links a{
    text-decoration: none;
    color: white
}
.nav-links a:hover{
    color: red;
}
.content{
    flex: 1;
    padding: 20px;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}